<:Title>
Workspace


<:Body>
  <h1>{store._users.length} - Users are Online</h1>

<table class="table" style="width: auto;">
{#each store._users as user}
  <tr
    e-click="params._index = index"
    class="{#if params._index == index}selected{/}">
    <td>{user._username}</td>
    <td><button e-click="remove_user(user)">X</button></td>
    </tr>

{/}

</table>


<form e-submit="add_user" role="form">
  <div class="form-group">
    <label>Add a User</label>
    <input class="form-control" type="text" value="{_new_user._username}" />
  </div>


</form>


{#if _current_user}
  <h2>{store._current_user._username}'s Text Editor</h2>
  <textarea>{_current_user._pad}</textarea>
{/}


<div id="editor" style="height: 500px; width: 500px">I want to make this a text editor</div>




